.new-group{
    background-color: #eff7ff;
}

.tip-title{
    color: #30DC7A;
}

.next-button{
    background-color: #004aad;
    color: white;
}
.back-button{
    background-color: #FFFFFF;
    color: black;
}
